@{
    ViewData["Title"] = "AgradecimientoConsulta";
}

<header style="background-color:#EC3B96">
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light mb-3>
        <div class="container-fluid>
            <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<div style="background-color:#2EBDCD;">
    <div class="row justify-content-center">
        <div class="col-1"></div>
        <div class="col-7 offset-1 text-center align-self-center" style="color: white; font-size: 2em">Fin De Consulta</div>
        <div class="col-2">
        </div>

        <div style="background-color:white; border-top-left-radius: 1000px; border-top-right-radius: 1000px; height: 50px">
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <h1 style="text-align:center; color:#2EBDCD">GRACIAS POR SU CONSULTA, NOS ESTAREMOS COMUNICANDO CON USTED A LA BREVEDAD</h1>
    </div>
</div>

<a class="btn btn-danger col-6 offset-3 p-3 my-5" href="@Url.Action("Index","Home")">Volver al Inicio</a>