@{
    ViewData["Title"] = "AgradecimientoConsulta";
}

<nav class="navbar">
    <div class="logo">
        <a asp-area="" asp-controller="Home" asp-action="Index">
            <img src="~/imagenes/FlechanNavBar.png" />
        </a>
    </div>
    <ul class="nav-list" id="navList">
        <li>
            <a asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
        </li>
    </ul>
    <div class="burger" id="burger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</nav>

<div style="background-color:#2EBDCD;">
    <div class="row justify-content-center">
        <div class="col-1"></div>
        <div class="col-7 offset-1 text-center align-self-center" style="color: white; font-size: 2em">Consulta Enviada</div>
        <div class="col-2">
        </div>

        <div style="background-color:white; border-top-left-radius: 1000px; border-top-right-radius: 1000px; height: 50px">
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <h1 style="text-align:center; color:#2EBDCD"></h1>
    </div>
</div>

<div class="container mt-3 mb-5">
    <div class="row">
        <div class="col-12">
            <a asp-controller="Home" asp-action="Index" class="btn btn-info col-8 offset-2 p-9 btn-rounded custom-btn btn-text-white" style="border-radius: 35px; border: 2px solid white; background-color: #067785; color: #94d4de;margin-right:90px; font-size:17px">Volver a Consultar</a>
        </div>
    </div>
</div>