@model WebAppMerck.Models.Formulario

<header style="background-color: #2EBDCD;">
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light mb-0">
        <div class="container-fluid">
            <button style="border: none; padding: 0; background-color: #2EBDCD; margin-top: 10px; margin-right: 10px" class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
</header>


    <div class="row" style="background-color: #2EBDCD;">
        <div class="col-md-12">
            <div class="col-12 text-center vh-50" style="margin-top: 35px">
                <img class="mb-4" style="display:block; margin-left:auto; margin-right:auto" src="~/imagenes/LogoMerck.jpg" />

                <div class="text-center" style="margin-top: 65px; margin-bottom: 45px; color:#aff3fb;">
                    <div class="row align-items-center">
                        <div class="col">
                            <img src="~/imagenes/FlechaIzquierda.png" />
                        </div>
                        <div class="col">
                            <p class="display-4" style="margin-bottom:0;">FORMULARIO</p>
                        </div>
                        <div class="col">
                            <img src="~/imagenes/FlechaDerecha.png" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="background-color: #ffff; border-top-left-radius: 1000px; border-top-right-radius: 1000px; height: 50px;">
        </div>
    </div>

    <div class="container mt-5" style="border-bottom: 2px solid #CCCCCC; padding-bottom: 15px; margin-bottom: 15px; width: 80%;">
        <div class="row">
            <div class="col-1">
                <img src="~/imagenes/FotoUbicacion.png" style="width: 80px; height: 80px;" />
            </div>
            <div class="col-11">
                <div class="row">
                    <div class="col" style="margin-top: 5px">
                        <p style="color: #6d62a0; text-align:center; font-size: 23px; font-weight: 500;">Pais</p>
                    </div>
                </div>
                <div class="row" style="margin-left: 80px;">
                    <div class="col" style="margin-top: -13px">
                        <select id="edadActual" name="edadActual" style="width: 120px; height: 30px; border: 2px solid #333333; border-radius: 5px;">
 
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-5" style="border-bottom: 2px solid #CCCCCC; padding-bottom: 15px; margin-bottom: 15px; width: 80%;">
        <div class="row">
            <div class="col-1">
                <img src="~/imagenes/FotoUbicacion.png" style="width: 80px; height: 80px;" />
            </div>
            <div class="col-11">
                <div class="row">
                    <div class="col" style="margin-top: 5px">
                        <p style="color: #6d62a0; text-align:center; font-size: 23px; font-weight: 500;">Provincia</p>
                    </div>
                </div>
            <div class="row" style="margin-left: 80px;">
                    <div class="col" style="margin-top: -13px">
                        <select id="edadActual" name="edadActual" style="width: 120px; height: 30px; border: 2px solid #333333; border-radius: 5px;">
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-5" style="border-bottom: 2px solid #CCCCCC; padding-bottom: 15px; margin-bottom: 15px; width: 80%;">
        <div class="row">
            <div class="col-1">
                <img src="~/imagenes/FotoUbicacion.png" style="width: 80px; height: 80px;" />
            </div>
            <div class="col-11">
                <div class="row">
                    <div class="col" style="margin-top: 5px">
                        <p style="color: #6d62a0; text-align:center; font-size: 23px; font-weight: 500;">Localidad</p>
                    </div>
                </div>
            <div class="row" style="margin-left: 80px;">
                    <div class="col" style="margin-top: -13px">
                        <select id="edadActual" name="edadActual" style="width: 120px; height: 30px; border: 2px solid #333333; border-radius: 5px;">
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-5" style="border-bottom: 2px solid #CCCCCC; padding-bottom: 15px; margin-bottom: 15px; width: 80%;">
        <div class="row">
            <div class="col-1">
                <img src="~/imagenes/FotoConsulta.png" style="width: 80px; height: 80px;" />
            </div>
            <div class="col-11">
                <div class="row">
                    <div class="col" style="margin-top: 5px">
                        <p style="color: #6d62a0; text-align:center; font-size: 23px; font-weight: 500;">Motivo consulta</p>
                    </div>
                </div>
            <div class="row" style="margin-left: 80px;">
                    <div class="col" style="margin-top: -13px">
                        <select id="edadActual" name="edadActual" style="width: 120px; height: 30px; border: 2px solid #333333; border-radius: 5px;">
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-5" style="border-bottom: 2px solid #CCCCCC; padding-bottom: 15px; margin-bottom: 15px; width: 80%;">
        <div class="row">
            <div class="col-1">
                <img src="~/imagenes/FotoEmail.png" style="width: 80px; height: 80px;" />
            </div>
            <div class="col-11">
                <div class="row">
                    <div class="col" style="margin-top: 5px">
                        <p style="color: #6d62a0; text-align:center; font-size: 23px; font-weight: 500;">Mail contacto</p>
                    </div>
                </div>
            <div class="row" style="margin-left: 80px;">
                    <div class="col" style="margin-top: -13px">
                        <select id="edadActual" name="edadActual" style="width: 120px; height: 30px; border: 2px solid #333333; border-radius: 5px;">
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="container mt-3 mb-5">
    <div class="row">
        <div class="col-12">
            <a asp-controller="Home" asp-action="AgradecimientoConsulta" class="btn btn-info col-8 offset-2 p-9 btn-rounded custom-btn btn-text-white" style="border-radius: 35px; border: 2px solid white; background-color: #067785; color: #94d4de;margin-right:90px; font-size:17px">Contactar Centro</a>
        </div>
    </div>
</div>
