@model WebAppMerck.Models.Formulario

@{
    ViewData["Title"] = "Home Page";
}
<header style="background-color:#2EBDCD">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light mb-3>
            <div class="container-fluid>
                <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Indicador">Indicador</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Consulta">Consulta</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="AgradecimientoConsulta">Agradecimiento</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
<div class="row">
    <div class="col-md-12">
        <form method="post" asp-action="Index">
            <div class="col-12 text-center vh-50" style="background-color: #2EBDCD; padding: 150px;">
                <div class="text-center text-white">
                    <img style="display:block; margin-left:auto; margin-right:auto" src="~/imagenes/LogoMerck.jpg" />
                </div>
                <h1 class="display-4 text-white">Formulario</h1>
            </div>

            <div class="text-center">
                <div class="container mt-5" style="border-bottom: 1px solid #000; padding-bottom: 15px; margin-bottom: 15px;">
                    <div class="row">
                        <div class="col-12">
                            <i class="fas fa-user"></i>
                        </div>
                        <div class="col-12">
                            <p class="h4">Edad actual</p>
                            <input type="text" id="edadActual" name="edadActual" value="@Model.EdadActual">
                            @Html.ValidationMessageFor(model => model.EdadActual)
                        </div>
                    </div>
                </div>

                <div class="container mt-3" style="border-bottom: 1px solid #000; padding-bottom: 15px; margin-bottom: 15px;">
                    <div class="row">
                        <div class="col-12">
                            <i class="fas fa-calendar"></i>
                        </div>
                        <div class="col-12">
                            <p class="h4">Edad primera menstruacion</p>
                            <input type="text" id="edadMenstruacion" name="EdadPrimeraMenstruacion" value="@Model.EdadPrimeraMenstruacion">
                            @Html.ValidationMessageFor(model => model.EdadPrimeraMenstruacion)
                        </div>
                    </div>
                </div>

                <div class="container mt-3">
                    <div class="row">
                        <div class="col-12">
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary">Siguiente</button
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>