@model Formulario
@using WebAppMerck.Modelos.Models.ViewModel

@{
    ViewData["Title"] = "Indicador";
}
<nav class="navbar" style="background-color:#EC3B96">
    <div class="logo">
        <a asp-area="" asp-controller="Home" asp-action="Index">
            <img src="~/imagenes/FlechaNavBarRosa.png" />
        </a>
    </div>
    <ul class="nav-list" id="navList" style="background-color:#EC3B96">
        <li>
            <a asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
        </li>
    </ul>
    <div class="burger" id="burger">
        <div class="line" ></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</nav>

<div class="row" style="background-color:#EC3B96; padding:0; margin:0;">
    <div class="col-md-12">
        <div class="col-12 text-center vh-50" style="margin-top: 40px">
            <img class="mx-auto mb-4" src="~/imagenes/LogoMerckRosa.jpg" style="max-width: 100%;" />

            <div class="col-12 text-center vh-50" style="background-color:#EC3B96;">
                <div class="col-11">
                    <div class="row">
                        <div class="col">
                            <p style="color: #f8dcf1; font-size: 23px; font-weight: 500; margin-bottom: 0px; margin-right: 117px">EDAD ACTUAL:</p>
                            <p style="color: #f8b2e5; font-size: 23px; margin-top: -10px; margin-right: 200px; font-weight: 400;">@TempData["EdadActual"] AÑOS</p>
                            <p style="color: #f8dcf1; font-size: 23px; font-weight: 500; margin-bottom: 0px; margin-right: 35px">1ERA MENSTRUACIÓN:</p>
                            <p style="color: #f8b2e5; font-size: 23px; margin-top: -10px; margin-right: 130px; font-weight: 400">A LOS @TempData["EdadPrimeraMenstruacion"] AÑOS</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row m-0 p-0">
            <div class="col-md-6 offset-md-3 text-center">
                <a asp-controller="Home" asp-action="TextoInformativoGrafico" class="btn btn-info col-8 offset-2 p-0 my-5 btn-rounded custom-btn btn-text-white" style="border-radius: 35px; border: 2px solid #94a8c1; background-color: #067785; color: #94d4de; margin-right:60px; font-size:17px">Quiero saber mas!</a>
            </div>
        </div>
    </div>

    <div class="row" style="background-color: #ead8d8; border-top-left-radius: 2000px; border-top-right-radius: 2000px; height: 50px; margin:0;">
        <p style="color: #46413e; margin-left:15px; margin-bottom: 10px; margin-top: 10px; font-size: 30px; font-weight: 700; letter-spacing: -2px; margin:0;">Tasa de Fertilidad</p>
    </div>
</div>


<div class="row" style="padding: 0; margin: 0;">
    <div class="col-12" style="padding: 0;">
        <div class="embed-responsive embed-responsive-16by9" style="margin: 0 auto; height: 50vh;">
            <div id="chart_div"
                data-edad-actual="@Model.EdadActual"
                data-edad-primera-menstruacion="@Model.EdadPrimeraMenstruacion"
                class="card border-primar embed-responsive-item"
                style="padding: 0px; height: 100%;">
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="https://code.highcharts.com/highcharts.js"></script>
<script type="text/javascript">
    ﻿document.addEventListener('DOMContentLoaded', (event) => {
    const chartDiv = document.getElementById('chart_div');
    const edadActual = parseInt(chartDiv.dataset.edadActual);
    const edadPrimeraMenstruacion = parseInt(chartDiv.dataset.edadPrimeraMenstruacion);

    Highcharts.chart('chart_div', {
        chart: {
            type: 'line',
            backgroundColor: '#ead8d8'
                       
        },
        title: {
            text: ''
        },
        xAxis: {
            categories: ['Edad Actual', 'Edad Primera Menstruación']
        },
        yAxis: {
            title: {
                text: '%'
            }
        },
        series: [{
            name: 'Reserva Ovárica',
            data: [edadActual, edadPrimeraMenstruacion],
            color: 'red',
            dashStyle: 'ShortDot'
 
        }]
    });
});

</script>
