@model WebAppMerck.Models.FormularioData
@{
    ViewData["Title"] = "Indicador";
}

<div class="col-12 text-center vh-50" style="background-color: 	#FF66FF; padding: 150px;">
    <p class="h4">Edad Actual: @TempData["EdadActual"]</p>
    <p class="h4">Edad Primera Menstruacion: @TempData["EdadPrimeraMenstruacion"]</p>
</div>

<div class="col-12 text-center">
    <h3>RESERVA OVARICA</h3>

    <div class="d-flex justify-content-center align-items-center mt-3">
        <div class="text-center">
            <i class="fas fa-leaf fa-3x mx-2"></i>
            <p>Baja</p>
        </div>
        <div class="text-center">
            <i class="fas fa-leaf fa-3x mx-2"></i>
            <p>Media</p>
        </div>
        <div class="text-center">
            <i class="fas fa-leaf fa-3x mx-2"></i>
            <p>Alta</p>
        </div>
    </div>

</div>

