<!DOCTYPE html>
<html>
<head>
    <style>
        .btn-rounded {
            border-radius: 35px;
            border: 2px solid #94a8c1;
            background-color: #067785;   
        }

        .btn-text-white {
            color: #94d4de;
        }
    </style>
</head>
<body style="background-color: #2EBDCD;">
    <div style="margin-top: 200px;">
        <img class="justify-content-center" style="display:block; margin-left:auto; margin-right:auto" src="~/imagenes/LogoInicioMerck.png" />
    </div>
    <div style="margin-top: 150px;">
        <a href="@Url.Action("Index", "Home")" class="btn btn-info col-8 offset-2 p-9 my-5 btn-rounded custom-btn btn-text-white">Comenzar</a>
    </div>
</body>
</html>