<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/Inicio.css" asp-append-version="true" />
    <title>Document</title>
</head>
<body>
    <div style="margin-top: 200px;">
        <img class="justify-content-center" style="display:block; margin-left:auto; margin-right:auto" src="~/imagenes/LogoInicioMerck.png" />
    </div>
    <div style="margin-top: 150px;">
        <a href="@Url.Action("Index", "Home")" class="btn btn-info col-8 offset-2 p-9 my-5 btn-rounded custom-btn btn-text-white">Comenzar</a>
    </div>
</body>
</html>












